$white-10: rgba(255,255,255,.01);
$white-20: rgba(255,255,255,.02);
$white-50: rgba(255,255,255,.05);
$white-70: rgba(255,255,255,.07);
$white-100: rgba(255,255,255,.1);
$white-150: rgba(255,255,255,.15);
$white-200: rgba(255,255,255,.2);
$white-250: rgba(255,255,255,.25);
$white-300: rgba(255,255,255,.3);
$white-350: rgba(255,255,255,.35);
$white-400: rgba(255,255,255,.4);
$white-450: rgba(255,255,255,.45);
$white-500: rgba(255,255,255,.5);
$white-550: rgba(255,255,255,.55);
$white-600: rgba(255,255,255,.6);
$white-650: rgba(255,255,255,.65);
$white-700: rgba(255,255,255,.7);
$white-750: rgba(255,255,255,.75);
$white-800: rgba(255,255,255,.8);
$white-850: rgba(255,255,255,.85);
$white-900: rgba(255,255,255,.9);
$white-950: rgba(255,255,255,.95);
$white-full: rgba(255,255,255);

$black-10: rgba(0,0,0,.01);
$black-20: rgba(0,0,0,.02);
$black-50: rgba(0,0,0,.05);
$black-70: rgba(0,0,0,.07);
$black-100: rgba(0,0,0,.1);
$black-150: rgba(0,0,0,.15);
$black-200: rgba(0,0,0,.2);
$black-250: rgba(0,0,0,.25);
$black-300: rgba(0,0,0,.3);
$black-350: rgba(0,0,0,.35);
$black-400: rgba(0,0,0,.4);
$black-450: rgba(0,0,0,.45);
$black-500: rgba(0,0,0,.5);
$black-550: rgba(0,0,0,.55);
$black-600: rgba(0,0,0,.6);
$black-650: rgba(0,0,0,.65);
$black-700: rgba(0,0,0,.7);
$black-750: rgba(0,0,0,.75);
$black-800: rgba(0,0,0,.8);
$black-850: rgba(0,0,0,.85);
$black-900: rgba(0,0,0,.9);
$black-950: rgba(0,0,0,.95);
$black-full: rgba(0,0,0);

$red-10: rgba(255, 0, 0, 0.01);
$red-20: rgba(255, 0, 0, 0.02);
$red-50: rgba(255, 0, 0, 0.05);
$red-70: rgba(255, 0, 0, 0.07);
$red-100: rgba(255, 0, 0, 0.1);

$green-10: rgba(2, 168, 2, 0.01);
$green-20: rgba(2, 168, 2, 0.02);
$green-50: rgba(2, 168, 2, 0.05);
$green-70: rgba(2, 168, 2, 0.07);
$green-100: rgba(2, 168, 2, 0.1);
$green-200: rgba(2, 168, 2, 0.2);
$green-300: rgba(2, 168, 2, 0.3);

$blue-10: rgba(21, 0, 255, 0.01);
$blue-20: rgba(21, 0, 255, 0.02);
$blue-50: rgba(21, 0, 255, 0.05);
$blue-70: rgba(21, 0, 255, 0.07);
$blue-100: rgba(21, 0, 255, 0.1);


