@import "./fontiran.css";
@import "./var.scss";

*:not(i){
  font-family: IRANSans , "IRANSans";
}
html::-webkit-scrollbar , .vs__dropdown-menu::-webkit-scrollbar {
  width: 9px;
  background: $black-100;
}
html::-webkit-scrollbar-thumb , .vs__dropdown-menu::-webkit-scrollbar-thumb {
  background: $black-200;
}
html , body{
  direction: rtl;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  min-height: 100vh;
  width: 100%;
}
body{
  text-align: right;
  overflow-x: hidden;
  background: $second-color;
}
a , a:hover{
  cursor: pointer;
  text-decoration: none;
}
.disable-select{
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}
input , select{
  text-indent: 0;
}
.input-form{
  background: $black-50;
  padding: 6px 7px;
  border: 2px solid $black-20;
  font-size: 13px;
  transition: .3s;
  border-radius: 7px;
  color: $black-700;
}
.input-form:focus{
  border: 2px solid $black-100;
  outline: 0;
}
a, a:hover{
  color: $black-full;
}

.code-input input{
  background: $black-50;
}
.vpd-icon-btn{
  height: 33.5px ;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.vpd-input-group input{
  background: $black-50;
  padding: 6px 7px;
  border: 2px solid $black-20;
  font-size: 13px;
  transition: .3s;
  border-radius: 7px;
  color: $black-700;
}
.filepond--credits{
  display: none;
}

label{
  font-size: 13px;
  color: $black-600;
}
.vs__dropdown-toggle{
  border: 0 !important;
}
.vs__open-indicator{
  transform: translateY(2px) scale(.8) translateX(-3px) !important;
}
.vs--open .vs__open-indicator{
  transform: translateY(4px) scale(.8) translateX(-3px) rotateZ(180deg) !important;
}
.vs__dropdown-menu{
  scrollbar-width: thin;
  max-height: 300px !important;
}
.vs__dropdown-menu li{
  padding: 10px 5px;
  font-size:13px;
  font-weight: bold;
}
.vs__selected{
  font-size:13px;
  font-weight: bold;
}
